{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>Setup Your Gym Hours</h1>
    <form method="post">
        {% csrf_token %}
        {% for day in form.days %}
            <div>
                <h3>{{ day.name }}</h3>
                <label>
                    {{ day.is_closed|add_class:"checkbox" }}
                    Closed
                </label>
                <div>
                    <label>Opening Time:</label>
                    {{ day.open_time|add_class:"input" }}
                </div>
                <div>
                    <label>Closing Time:</label>
                    {{ day.close_time|add_class:"input" }}
                </div>
            </div>
        {% endfor %}
        <button type="submit">Save Hours</button>
    </form>
{% endblock %}
