{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>Setup Your Social Media Links</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label>{{ field.label }}</label>
                {{ field|add_class:"input" }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Save Social Media</button>
    </form>
{% endblock %}
